* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.img {
    width: 200px;
    padding-right: 100px;
}

.content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 100px;
    margin-bottom: 100px;
}

.header {
    margin-top: 20px;
    padding-top: 50px;
}

.footer {
    